/* Author: Shree Krishna Lamichhane
Url: https://github.com/shreekrishnalamichhane 
Free to use, modify, recreate, do anything you want.
*/

/* Spaces with px start */
.space-5px {
  height: 5px;
}
.space-10px {
  height: 10px;
}
.space-15px {
  height: 15px;
}
.space-20px {
  height: 20px;
}
.space-25px {
  height: 25px;
}
.space-30px {
  height: 30px;
}
.space-35px {
  height: 35px;
}
.space-40px {
  height: 40px;
}
.space-45px {
  height: 45px;
}
.space-50px {
  height: 50px;
}
.space-55px {
  height: 55px;
}
.space-60px {
  height: 60px;
}
.space-65px {
  height: 65px;
}
.space-70px {
  height: 70px;
}
.space-75px {
  height: 75px;
}
.space-80px {
  height: 80px;
}
.space-85px {
  height: 85px;
}
.space-90px {
  height: 90px;
}
.space-95px {
  height: 95px;
}
.space-100px {
  height: 100px;
}
.space-105px {
  height: 105px;
}
.space-110px {
  height: 110px;
}
.space-115px {
  height: 115px;
}
.space-120px {
  height: 120px;
}
.space-125px {
  height: 125px;
}
.space-130px {
  height: 130px;
}
.space-135px {
  height: 135px;
}
.space-140px {
  height: 140px;
}
.space-145px {
  height: 145px;
}
.space-150px {
  height: 150px;
}
.space-155px {
  height: 155px;
}
.space-160px {
  height: 160px;
}
.space-165px {
  height: 165px;
}
.space-170px {
  height: 170px;
}
.space-175px {
  height: 175px;
}
.space-180px {
  height: 180px;
}
.space-185px {
  height: 185px;
}
.space-190px {
  height: 190px;
}
.space-195px {
  height: 195px;
}
.space-200px {
  height: 200px;
}
/* Spaces with px end */

/* Spaces with vh start  */
.space-5vh {
  height: 5vh;
}
.space-10vh {
  height: 10vh;
}
.space-15vh {
  height: 15vh;
}
.space-20vh {
  height: 20vh;
}
.space-25vh {
  height: 25vh;
}
.space-30vh {
  height: 30vh;
}
.space-35vh {
  height: 35vh;
}
.space-40vh {
  height: 40vh;
}
.space-45vh {
  height: 45vh;
}
.space-50vh {
  height: 50vh;
}
.space-55vh {
  height: 55vh;
}
.space-60vh {
  height: 60vh;
}
.space-65vh {
  height: 65vh;
}
.space-70vh {
  height: 70vh;
}
.space-75vh {
  height: 75vh;
}
.space-80vh {
  height: 80vh;
}
.space-85vh {
  height: 85vh;
}
.space-90vh {
  height: 90vh;
}
.space-95vh {
  height: 95vh;
}
.space-100vh {
  height: 100vh;
}
.space-105vh {
  height: 105vh;
}
.space-110vh {
  height: 110vh;
}
.space-115vh {
  height: 115vh;
}
.space-120vh {
  height: 120vh;
}
.space-125vh {
  height: 125vh;
}
.space-130vh {
  height: 130vh;
}
.space-135vh {
  height: 135vh;
}
.space-140vh {
  height: 140vh;
}
.space-145vh {
  height: 145vh;
}
.space-150vh {
  height: 150vh;
}
.space-155vh {
  height: 155vh;
}
.space-160vh {
  height: 160vh;
}
.space-165vh {
  height: 165vh;
}
.space-170vh {
  height: 170vh;
}
.space-175vh {
  height: 175vh;
}
.space-180vh {
  height: 180vh;
}
.space-185vh {
  height: 185vh;
}
.space-190vh {
  height: 190vh;
}
.space-195vh {
  height: 195vh;
}
.space-200vh {
  height: 200vh;
}
/* Spaces with vh end  */
